body {
  font-family: 'Roboto', sans-serif;
}

.header-logo {
  font-family: 'Raleway', sans-serif;
}


.list {
  list-style: none;
}



/* font main background: #212121; */
/* font main 2 background: #757575; */
/* font aсcent background: #2196F3; */
/* font aсcent 2 background: #FFFFFF; */
/* hero background color: #2F303A; */
/* main background color: #FFFFFF; */
/* section team background color F5F4FA */